In [9]:
import sqlite3

In [10]:
import datetime

In [11]:
conn = sqlite3.connect("log.db")

In [12]:
conn.execute("create table employee (name text,timestamp timestamp)")

In [13]:
conn.close()

In [14]:
conn = sqlite3.connect("log.db")

In [15]:
c = conn.execute("select * from employee")

In [16]:
c.description

(('name', None, None, None, None, None, None),
 ('timestamp', None, None, None, None, None, None))

In [17]:
c.close

In [18]:
conn.close()

In [19]:
conn = sqlite3.connect("log.db")

In [20]:
c = conn.cursor()

In [21]:
name = "aa"
timestamp = datetime.datetime.now()
c.execute("insert into employee (name,timestamp) values(?,?)",(name,timestamp))
conn.commit()

In [22]:
c.close()
conn.close()

In [27]:
conn = sqlite3.connect("log.db")
c = conn.execute("select * from employee")

In [28]:
row =""
for row in c:
    print(row)

('aa', '2024-04-01 17:21:01.147165')
('WANG WEIHUA', '2024-04-01 17:27:33.478822')

In [25]:
c.close()
conn.close()